.App {
  text-align: center;
}
  .Background_Image {
    background-image: url(./Assets/Images/nebula_pic.jpg); /*Add background image*/
    background-size: cover; /*Ensure image covers whole div*/
    background-repeat: no-repeat; /*don't have the image repeat (causes ugly white lines and strange gradients)*/
    width: 100%;
    height: 100%; 
  }

.Header {
  position: relative;
  height: 2vh;
  color: transparent;
}
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');
  .Left_Header {
    background-color: rgb(10, 48, 55);
    width: 6%;
    font-size: xxx-large;
  }
  .Left_Header_Image{
    width:100%;
    height: 100%;/*Image takes up full header*/
  }

  .Middle_Header {
    background-color: #0a0c37ff;
    color: #d5e25f;
    flex-grow: 1; /*Makes middle header take up the rest of the space between the child headers*/
  }
  .Right_Header {
    background-color: rgb(10, 55, 40);
    width: 40%;
    font-size: xx-large;
    display: flex; /*Enable flex display*/
    gap: 1vw; /*Add horizontal padding with flex display*/
  }
    


  .Body {
  width: 100%; /*Make it cover the entire width of the page*/
  height: 100%; /*make it cover the entire height of the page*/
  background-color: transparent; /*background colour for body*/
  
}
  .VapourImage{
    width: 100%;
    height: 100%;
  }


.Footer {
  width: 100%;
  background-color: transparent;
}